@use '../../styles/styles';

.solution {
  margin-top: 100px;
  margin-bottom: 50px;
}

.solution__left {
  height: 400px;
  background: url("../../images/Polygon_3.png");
  background-repeat: no-repeat;
  background-size: 400px 380px;
  img {
    height: 400px;
  }
}

.solution__details {
  h5 {
    @include styles.text-formatter(#242424, "Poppins", "24px", 700);
  }
  p {
    @include styles.text-formatter(#242424, "Poppins", "15px", 400);
    opacity: 0.7;
    line-height: 20px;
  }
}

.solution__logo {
  background: #567df4;
  color: #ffffff;
  padding: 10px;
  border-radius: 5px;
}
