.video-container {
  background: url("../../images/Layer_8.png");
  background-repeat: no-repeat;
  background-position: 0px 50px;
  background-size: cover;
  img {
    height: 300px;
    margin-top: 54px;
    padding: 50px;
  }
}
