@mixin icon-formatter($pd, $background) {
  padding: $pd;
  background: $background;
}

.footer-container {
  background: #1f3c94;
  color: #ffffff !important;
}

.list-inline {
  .icon-facebook {
    @include icon-formatter(5px, tomato);
  }
  .icon-instragram {
    @include icon-formatter(5px, #fb9ed7);
  }
  .icon-twitter {
    @include icon-formatter(5px, #f5d150);
  }
  .icon-linkedin {
    @include icon-formatter(5px, #58d7c1);
  }
  .icon {
    color: #ffffff;
  }
}

.footer__link {
  color: #ffffff !important;
  font-size: 13px;
  line-height: 5px;
}

.copyright {
  margin-top: 80px;
  border-top: 1px solid gray;
}
